@font-face {
    font-family: gooddog;
    src: url(/fonts/gooddog.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-sansBold;
    src: url(/fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: open-sansExtraBold;
    src: url(/fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: open-sansSemiBold;
    src: url(/fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: open-sansLight;
    src: url(/fonts/open-sans/OpenSans-Light.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,,400i,700,700i,900&display=swap&subset=latin-ext');

@import "./settings";
@import "./analytics";
@import "./forms";
@import "./style";
@import "./react_dates_overrides";
@import "./responsive";
@import "./leftNav";
@import "./middleware";
@import "./modal";
@import "./layout";
@import "./tab";

/*Nav top bar ============*/
.navbar-wrap {
    .navbar-uniclix {
        z-index: 999;
        top: 0;
        width: 100%;
        background: #fff;
        height: 70px;
        // box-shadow: 1px 1px 1px 1px #e8edf5;
        overflow: hidden;

        .brand {
            display: block;
            float: left;
            margin-left: 90px;
            line-height: 36px;
            font-size: 35px;
            font-weight: 400;
            color: #E97D4C !important;
            padding: 7px 10px;
            text-align: center;
            text-decoration: none;

            img {
                width: 70px;
                object-fit: contain;
            }
        }

        .top-menu {
            margin: 0;
            margin-left: 230px;
            margin-bottom: 0;

            li {
                a {
                    float: left;
                    margin: 2.5rem 0 0 5.5rem;
                    font-size: 1.6rem;
                    font-weight: normal;
                    padding-bottom: 32px;
                    color: #363636;
                    text-decoration: none;
                    text-transform: capitalize;

                    &.first-nav-item {
                        margin-left: 0;
                    }

                    &:hover,
                    &.active {
                        text-decoration: none;
                        color: #2D86DA;
                    }

                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }

        .right-top-nav {
            /* Current Profile ======= */
            float: right;
            position: relative;
            height: 100%;
            transition: linear 0.3s;

            .current-profile {
                float: left;
                right: 0px;
                top: 0;
                transition: linear 0.2s;
                height: 100%;
                background: $white;
                position: absolute;
                z-index: 2;
                display: flex;
                align-items: center;
                padding: 0 3.5rem;
                justify-content: flex-end;
                min-width: 100%;
                cursor: pointer;

                .current-profile-info {
                    p {
                        margin: 0;
                    }

                    .current-profile-name {
                        font-weight: bold;
                        font-size: 1.6rem;
                        color: #363636;
                    }

                    .current-profile-email {
                        font-weight: light;
                        font-size: 1.3rem;
                        color: #909090;
                    }
                }

                .current-profile-avatar {
                    margin-left: 15px;

                    img {
                        width: 35px;
                        border-radius: 100px;
                    }
                }
            }

            .current-profile-links {
                opacity: 0;
                position: relative;
                z-index: 1;
                float: right;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                margin: 0;
                padding: 0 3rem 0 6rem;

                li {
                    float: left;
                    padding: 10px 25px;

                    a {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        /* identical to box height, or 150% */

                        letter-spacing: 0.122042px;

                        color: $white;

                        i {
                            color: $white;
                            padding-right: 8px;
                        }
                    }
                }
            }

            &:hover {
                background: $primary_blue;

                .current-profile {
                    right: 100%;
                    margin-right: -40px;
                    border-radius: 0 50px 50px 0;
                    padding-right: 20px;

                }

                .current-profile-links {
                    opacity: 1;
                }
            }
        }
    }
}

/* TOp ALert =============*/
.top-alert {
    padding: 15px;
    text-align: center;
    font-size: 1.4rem;
    background: #E0E2E9;
    width: 100%;
    z-index: 1000;

    span {
        font-weight: bold;
    }
}

.mb1 {
    margin-bottom: 1.5rem;
}

.table {
    display: table;
}

.row-price {
    display: table-row;

    &.new-accounts {
        color: $primary_blue;
    }

    .col-price {
        display: table-cell;

        &:last-child {
            text-align: right;
            vertical-align: bottom;
        }

        .price {
            font-weight: bold;
        }
    }
}

.block-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    border: 1px dashed $secondary_gray;
    background: $gray;
    padding: 10px 15px;
    font-size: 1.6rem;
    width: 100%;
    border-radius: 6px;
}

//Monthly picker on checkout
.month-picker {
    position: relative;
}

.month-picker>.rmp-container {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 100;
    top: 1px;
    left: -10000px;
    -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
    -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container {
        position: fixed;
        top: 0;
        left: -10000px;
        width: 100%;
        height: 100%;
        -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
        -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
        transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 450ms;
    }
}

.month-picker>.rmp-container.rmp-table {
    display: table;
}

.month-picker>.rmp-container.show {
    left: 0;
    -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.month-picker>.rmp-container.show .rmp-overlay {
    left: 0;
}

.month-picker>.rmp-container .rmp-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    left: -10000px;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: opacity;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container .rmp-overlay {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.month-picker>.rmp-container .rmp-cell {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container .rmp-cell {
        vertical-align: bottom;
    }
}

.month-picker>.rmp-container .rmp-popup {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0 auto;
    z-index: 10;
    font-size: 1.2rem;
    opacity: 0;
    border-radius: 3px;
    padding: 0.4rem;
    box-sizing: content-box;
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container .rmp-popup {
        box-sizing: border-box;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: 14.4rem;
        -webkit-transform: translate3d(0, 14.4rem, 0);
        -moz-transform: translate3d(0, 14.4rem, 0);
        -ms-transform: translate3d(0, 14.4rem, 0);
        -o-transform: translate3d(0, 14.4rem, 0);
        transform: translate3d(0, 14.4rem, 0);
    }

    .month-picker>.rmp-container .rmp-popup.range {
        height: 28rem;
        -webkit-transform: translate3d(0, 28rem, 0);
        -moz-transform: translate3d(0, 28rem, 0);
        -ms-transform: translate3d(0, 28rem, 0);
        -o-transform: translate3d(0, 28rem, 0);
        transform: translate3d(0, 28rem, 0);
    }

    .month-picker>.rmp-container .rmp-popup.range .rmp-pad {
        margin-top: 0.4rem;
    }

    .month-picker>.rmp-container .rmp-popup.range .rmp-pad:first-of-type {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup {
        -webkit-transform: translate3d(0, -64px, 0);
        -moz-transform: translate3d(0, -64px, 0);
        -ms-transform: translate3d(0, -64px, 0);
        -o-transform: translate3d(0, -64px, 0);
        transform: translate3d(0, -64px, 0);
        top: 0;
        width: 20rem;
    }

    .month-picker>.rmp-container .rmp-popup.range {
        width: 40.6rem;
        padding: 0.6rem;
    }
}

.month-picker>.rmp-container .rmp-popup.show {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.month-picker>.rmp-container .rmp-popup:after {
    content: ' ';
    clear: both;
    display: table;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad {
    position: relative;
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup .rmp-pad {
        box-sizing: border-box;
        float: left;
        width: 20rem;
    }

    .month-picker>.rmp-container .rmp-popup .rmp-pad:nth-of-type(2) {
        float: right;
    }
}

.month-picker>.rmp-container .rmp-popup .rmp-pad>div label {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    line-height: 3.4rem;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad>div label b {
    font-weight: normal;
    margin-right: 0.5em;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad>div i {
    font-style: normal;
    text-align: center;
    width: 3.4rem;
    height: 3.4rem;
    line-height: 3.4rem;
    position: absolute;
    top: 0;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad>div i.prev {
    left: 0;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad>div i.next {
    right: 0;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad ul,
.month-picker>.rmp-container .rmp-popup .rmp-pad li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad ul {
    display: block;
    width: 100%;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad ul:after {
    content: ' ';
    clear: both;
    display: table;
}

.month-picker>.rmp-container .rmp-popup .rmp-pad li {
    display: block;
    float: left;
    text-align: center;
    line-height: 3.4rem;
    font-size: 1.15rem;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    *white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container .rmp-popup .rmp-pad li {
        width: 25%;
    }
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup .rmp-pad li {
        width: 33.3333333333%;
    }
}

.month-picker>.rmp-container .rmp-popup.light {
    color: #666;
    background-color: rgba(255, 255, 255, 0.96);
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container .rmp-popup.light {
        border-top: 1px solid #ccc;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.08);
    }

    .month-picker>.rmp-container .rmp-popup.light.range .rmp-pad {
        border-top: 1px solid rgba(204, 204, 204, 0.5);
    }

    .month-picker>.rmp-container .rmp-popup.light.range .rmp-pad:first-of-type {
        border-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup.light {
        border: 1px solid #ccc;
        box-shadow: 0 1px 5px #ddd;
    }

    .month-picker>.rmp-container .rmp-popup.light.range .rmp-pad {
        background-color: rgba(238, 238, 238, 0.9);
    }
}

.month-picker>.rmp-container .rmp-popup.light .rmp-pad .rmp-btn {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup.light .rmp-pad .rmp-btn:hover {
        background-color: rgba(255, 227, 160, 0.59);
    }
}

.month-picker>.rmp-container .rmp-popup.light .rmp-pad .rmp-btn.select {
    background-color: #d3d3d3;
}

.month-picker>.rmp-container .rmp-popup.light .rmp-pad li.active,
.month-picker>.rmp-container .rmp-popup.light .rmp-pad li.active:hover {
    background-color: rgba(31, 42, 58, 0.73);
    color: white;
    cursor: default;
}

.month-picker>.rmp-container .rmp-popup.light .rmp-pad .disable,
.month-picker>.rmp-container .rmp-popup.light .rmp-pad .disable:hover {
    background-color: transparent;
    color: #bbb;
    cursor: default;
}

.month-picker>.rmp-container .rmp-popup.dark {
    color: #fff;
    background-color: rgba(50, 50, 50, 0.96);
}

@media screen and (max-width: 767px) {
    .month-picker>.rmp-container .rmp-popup.dark.range .rmp-pad {
        border-top: 1px solid rgba(113, 113, 113, 0.41);
    }

    .month-picker>.rmp-container .rmp-popup.dark.range .rmp-pad:first-of-type {
        border-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup.dark.range .rmp-pad {
        background-color: rgba(70, 70, 70, 0.9);
    }
}

.month-picker>.rmp-container .rmp-popup.dark .rmp-pad .rmp-btn {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .month-picker>.rmp-container .rmp-popup.dark .rmp-pad .rmp-btn:hover {
        background-color: rgba(255, 210, 96, 0.33);
    }
}

.month-picker>.rmp-container .rmp-popup.dark .rmp-pad .rmp-btn.select {
    background-color: #262828;
}

.month-picker>.rmp-container .rmp-popup.dark .rmp-pad li.active,
.month-picker>.rmp-container .rmp-popup.dark .rmp-pad li.active:hover {
    background-color: rgba(189, 211, 242, 0.7);
    color: #303030;
    cursor: default;
}

.month-picker>.rmp-container .rmp-popup.dark .rmp-pad .disable,
.month-picker>.rmp-container .rmp-popup.dark .rmp-pad .disable:hover {
    background-color: transparent;
    color: #717171;
    cursor: default;
}

// .fa-money-bill-alt{
//     background: url(/images/billing.svg) center center no-repeat;
//     height: 25px;
// }

// Events calendar
.rbc-month-row {
    overflow: visible;
}

.rbc-day-slot .rbc-event {
    border: 0;
    border-left: 4px solid;
}

.rbc-time-view {
    .rbc-timeslot-group {
        min-height: 65px;
    }
}

.rbc-event {
    border-left: 4px solid;
    background-color: #fff;
    position: relative;

    .card-event-calendar {
        span {
            font-size: 16px;
            color: $primary_black;
            line-height: 24px;
        }

        h2 {
            font-size: 12px;
            white-space: normal;
            margin: 1% 0;
            color: $primary_black;
        }
    }

    .open-event {
        color: $primary_black;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 0;
        min-height: 0;
        padding: 10px;
        opacity: 0;
        transition: linear 0.1s;
        display: flex;
    }

    &.rbc-selected {
        background-color: #fff;
        overflow: visible;
        z-index: 999;

        .open-event {
            min-width: 100%;
            min-width: 110px;
            min-height: 100%;
            padding: 10px;
            opacity: 1;
            width: auto;
        }
        .event-header{
            display: flex;
        }
    }

    .rbc-event-label {
        display: none;
    }
}

.calendar-events-head {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .calendar-navigation {
        display: flex;
        align-items: center;

        button {
            border: 0;
            outline: 0;
            color: #2D86DA;
            font-size: 20px;
            background: transparent;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        span {
            color: #000000;
            font-size: 14px;
            margin: 0 15px;
            font-weight: 500;
        }
    }

    .calendar-view {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        label {
            padding-right: 10px;
            white-space: nowrap;
        }

        select {
            width: auto;
        }
    }
}

.rbc-time-content {
    overflow: visible;
}

.rbc-time-view,
.rbc-month-view {
    border: 0;
    border-top: 1px solid #DDD;
}

.rbc-toolbar {
    display: none !important;
}