.title{
    margin-top: 27px;
}

.refresh-section {
	position: absolute;
	top: -120px;
    right: 23px;
}
.monitor-smalltitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height, or 100% */

    letter-spacing: 0.130517px;

    /* Text/Primary/Black */

    color: #363636;
    width: 110px;
}

.monitor-socialtitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    text-align: center;
    letter-spacing: 0.130517px;
    margin-top: 25px;
}

.tooltipTheme {
    background-color: #2D86DA !important;
    border-radius: 2px !important;
    margin-left: 10px !important;
    padding: 5px 9px 5px 9px !important;
}

.tooltipTheme::after {
    display: none !important;
}

.monitor-label {
	margin-top: 30px;
	justify-content: flex-start;
    display: flex;
}

.monitor-spacing {
	margin-right: 7px;
	margin-top: 7px;
}

.monitor-right-spacing{
	margin-right: 20px;
}
.monitor-rightspacing {
    float: right;
    margin-right: -30px;
}

.monitor-refresh-btn {
    margin-right: 20px;
}

.monitor-right-bar {    
    background-color: white;
    border-radius: 20px 0px 0px 0px;
    position: absolute;
	right: -75px;
	height: 100%;
	transition: 0.3s;
	transition-delay: 0.3s;
}

#monitor-right-bar:hover {
	right: -30px;
  }

.cardlist-rightbar {
    background: white;
    border-radius: 20px 0px 0px 0px;
    width: 67px !important;
    min-height: 630px;
}

.cardlist-firstbtn {
    margin-top: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0px 50px 50px 0px !important;
}

.cardlist-account {
	margin-top: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0px 50px 50px 0px !important;
}

.cardlist-origin {
    background: white;
}

.cardlist-clicked {
    background: #2D86DA;
}

.cardlist-secondbtn {
    margin-top: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0px 50px 50px 0px !important,
}

.cardlist-tooltiplabel {
    font-family: Rubik !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    text-align: right !important;
    letter-spacing: 0.130517px !important;
    color: #FFFFFF !important;
}

.cardlist-gridtopspacing {
    margin-top: 15px;
}

.dashboard-containers {
    text-align: center;
}

.dashboard-cards {
    margin-top: 30px;
    width: 85%;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05) !important;
    border-radius: 6px !important;
    height: 135px;
}

.dashboard-spacing {
    padding-top: 31px !important;
}

.dashboard-title {
    font-family: Rubik !important;    
    font-weight: normal !important;
    font-size: 18px !important;
    text-align: center;
    letter-spacing: 0.130517px;
    margin-top: 12px !important;
    margin-bottom: 20px !important;
    white-space: nowrap;
}

.socialmedia-box {
	margin-left: -72px;
    margin-bottom: 0;
    position: absolute;
    margin-top: 15px;
    background: #EAF3FB;
    padding: 4px 4px;
    border-radius: 5px 0px 0px 5px;
}

.socialmedia-box::after {
    display: none !important;
}


$blue: lighten(rgb(4,159,217), 5%);

.r-a-t {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&, 
	& * {
		box-sizing: border-box;
	}

    .refresh-wrapper {
		position: absolute;
		top: 0;
		left: calc(100% - 35px);
		width: 35px;
		height: 35px;
        transition: background ease .3s;
		cursor: pointer;
		background-image: url('/images/monitor-icons/refresh.svg');
		background-repeat: no-repeat;
		margin-top: 10px;
	}

	.tab-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
        height: 37px;
        border-bottom: 1px solid #ccc;
        padding-left: 0;
		// background: #aaa;

		&.with-add {
			width: calc(100% - 35px);
		}

        .tab-add-button {
            position: absolute;
            height: 27px;
            user-select: none;
            text-align: center;
            top: 2px;
            cursor: pointer;

            & .text{
                display: inline-block;
                list-style: none;
                margin-bottom: -1px;
                padding: 0.2rem;
                line-height: 13px;
                text-align: center;
                letter-spacing: 0.129174px;
                color: #363636;
                font-family: Rubik;
                font-style: normal;
                font-size: 18px;
            }
        }

		.tab-button {
			position: absolute;
			// width: 115px;
			height: 27px;
            user-select: none;
            text-align: center;
            & .tab{
                background: transparent;
            }

            & .text{
                display: inline-block;
                list-style: none;
                margin-bottom: -1px;
                padding: 0.5rem 1.75rem;
                line-height: 13px;
                text-align: center;
                letter-spacing: 0.129174px;
                color: #363636;
                font-family: Rubik;
                font-style: normal;
                font-size: 16px;
            }

			&:hover {
				cursor: default;
			}

			&:not(.active):hover {
				.tab,
				.icon.loading,
				.icon.loading .mask {
					background: transparent;
				}

				.shadow {
					background: linear-gradient(to right, transparent, #f8f8f8);
				}
            }
            

			&.active {
                z-index: 999 !important;
                
                & .text {
                    display: inline-block;
                    list-style: none;
                    margin-bottom: -1px;
                    padding: 0.5rem 1.75rem;
                    line-height: 13px;
                    text-align: center;
                    letter-spacing: 0.129174px;
                    color: #363636;
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                }

				.tab {
                    border-bottom: 3px solid #2d86da;
                    background: transparent;
				}

				.icon.loading,
				.icon.loading .mask {
					background: #fff;
				}

				.shadow {
					background: linear-gradient(to right, transparent, #fff);
				}
			}
		}
		
		.tab {
			position: absolute;
			left: 0;
			top: -4px;
			width: calc(100%);
			height: 36px;
			display: inline-block;
			vertical-align: top;
			margin-top: 4px;
			padding: 0 30px;
			background: #f9f9f9;
			z-index: 0;
			transition: background ease .3s;
			user-select: none;
		 }

		 .text {
			position: absolute;
			left: 0px;
			top: 10px;
			z-index: 999;
			font-size: 16px;
			width: calc(100%);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.with-close {
				width: calc(100% - 25px);
			}

			> * {
				position: relative;
				vertical-align: top;
			}

			.icon {
				position: relative;
				display: inline-block;
				box-sizing: border-box;
				margin-right: 8px;
			}

			.icon.loading {
				margin-top: 2px;
				width: 12px;
				height: 12px;
				border-style: solid;
				border-width: 2px;
				border-color: rgb(4,159,217);
				border-radius: 50%;
				background: #f9f9f9;
				transform: rotateZ(30deg);
				animation-name: IconLoading;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				transition: background ease .3s;

				& .mask {
					position: absolute;
					left: -3px;
					top: -3px;
					width: 14px;
					height: 14px;
					background: #f9f9f9;
					clip: rect(0px, 14px, 14px, 7px);
					transition: background ease .3s;
				}
			}

			.icon.warning {
				margin-top: 2px;
				width: 12px;
				height: 12px;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 5px;
					width: 2px;
					height: 8px;
					background: red;
				}

				&::after {
					content: '';
					position: absolute;
					top: 10px;
					left: 5px;
					width: 2px;
					height: 2px;
					background: red;
				}
			}
		}

		.close {
			position: absolute;
			left: calc(100% - 25px);
			top: 12px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			transform: rotateZ(45deg);

			&:hover {
				background: grey;

				&::before,
				&::after {
					background: white;
				}
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 3px;
				top: 7px;
				width: 9px;
				height: 1px;
				background: #888;
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 7px;
				top: 3px;
				width: 1px;
				height: 9px;
				background: #888;
			}
		}
	}

	.panel-wrapper {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 998;

		.panel {
			position: absolute;
            display: none;
            border: none;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: white;
			z-index: -1;

			&.active {
				display: block;
				z-index: 1;
			}
		}
	}

	.tooltip {
		display: none;
		position: absolute;
		left: 100px;
		top: 40px;
		z-index: 999;
		padding: 5px 15px;
		white-space: nowrap;
		background-color: #fff;
		color: #333;
		font-size: 12px;
		border: 1px solid #ddd;
		border-radius: 2px;
		box-shadow: 1px 1px 2px rgba(206,206,206,.8);
		opacity: .95;
	}
}

@keyframes IconLoading {
	from {
		transform: rotateZ(30deg);
	}

	to {
		transform: rotateZ(390deg);
	}
}


.card {
    max-width: 345px;
}

.media {
    height: 0px;
    padding-top: 56.25%; // 16:9
}

.expand  {
    transform: rotate(0deg);
    margin-left: auto;
}

.expandOpen  {
    transform: rotate(180deg);
}
.avatar  {
    background-color: red;

}

.whole-refresh-btn {
	z-index: 999;
	position: relative;
	right: 25px;
	top: 15px;
	cursor: pointer;
}
  
.action-btn {
	cursor: pointer;
}
  
.stream-close-btn {
	margin-right: 8px;
}
  
.stream-refresh-btn {
	margin-right: 20px;
}
  
.stream-action-menu {
	float: right !important;
}

.stream-action-menu-btn {
	min-width: 35px !important;
    min-height: 35px !important;
    border-radius: 50% !important;
}

.stream-action-menu-icon {
	height: 22px;
	width: 10px !important;
}

.stream-menu-tooltip {
	background-color: #0E4F8C !important;
    border-radius: 6px !important;
    margin-top: 2px !important;
    padding: 3px 18px 3px 18px  !important;
}

.stream-menu-tooltip::after {
    display: none !important;
}

.stream-menu-tooltip-label {
	font-family: Rubik !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    text-align: right !important;
    letter-spacing: 0.130517px !important;
    color: #FFFFFF !important;
}
  
.margin-left-5 {
	margin-left: 5px;
}

.account-modal {
	width: 385px;
 	border: 0px;
 	border-radius: 8px;
 	box-shadow: (0, 0, 0, 0.2) 0px 1px 3px;

	.label {
		margin-top: 40px;
	};

	.title {
		width: 126px;
		color: black;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		margin-top: -3px;
	}

	.button {
		margin-top: 40px;
		margin-bottom: 20px;
		text-align: center;

		.title {
			color: white;
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			background-color: #2D86DA;
		}
	}
}

.account-icon {
    width: 25px;
	border-radius: 10px;
}

.stream-drag-drop {
    padding-right: 0px;
}

.image-size {
	width: 23px;
	height: 18px;
}

.stream-search-modal {
	width: 600px !important;
	margin: 10px;
	background: #F5F7FB;
	outline: none;
	overflow: auto;
	max-height: 95vh;
	border-radius: 8px;
}

.stream-search-container {
	background: #F5F7FB;
}

.stream-search-body {
	min-height: 10vh;
	overflow: auto;
	background: #F5F7FB;
	text-align: center;
    padding-top: 2vh;
}

.stream-search-heading {
	background: #F5F7FB;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0px 0px 0px;
	margin: 0px 30px 0px 30px;
	font-size: 20px;
	color: #555;
	border-bottom: 1px solid #e4e4e4;
}

.stream-search-input {
	background: #FFFFFF;
	border-radius: 6px 0px 0px 6px;
	vertical-align: middle;
	height: 40px;
	width: 46vh;
	
}

.stream-search-button {
	text-align: center;
  	width: 157px;
  	padding: 7px;
	color: white;
	background: #909090;
	border-radius: 0px 6px 6px 0px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
}

.stream-page-button {
	text-align: center;
  	width: 157px;
  	padding: 7px;
	color: white;
	margin-top: 72px;
	margin-bottom: 20px;
	background: #909090;
	border-radius: 8px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
}

.font-shape {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 0.130517px;
	color: #363636;
}

.toast-icon {
	margin-right: 10px;
	margin-left: 20px;
}

.toast-body {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.130517px;
	color: #363636;
	background: #EAF3FB;
	border: 1px solid #2D86DA;
	box-sizing: border-box;
	border-radius: 8px;
	width: 327px;
	height: 90px;
	right: 20px;
}

.toast-error {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.130517px;
	color: white;
	background: darkred;
	border: 1px solid darkred;
	box-sizing: border-box;
	border-radius: 8px;
	width: 327px;
	height: 90px;
	right: 20px;
}

.readMore-body {
	border-radius: 8px;
}

.readMore-content {
	padding: 10px;
}

.bottom-title {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.167808px;
	color: #363636;
}

.billing-profile-content {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.122042px;
	color: #363636;
	display: flex;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

	.button-holder {
		min-width: 145px;
		height: 40px;
	}
}

.billing-profile-button {
	border-radius: 5rem;
    padding: 1rem 2rem;
    background: none;
    border: 2px solid #2d86da;
    color: #2d86da;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    bottom: 0px;
    transform: translate(-50%, -50%);
	margin: 0 auto;
	margin-right: 25px;
}

.billing-bottom-container {
	margin-left: 30px !important;
	padding: 25px 25px 7px 25px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	width: 87%;
}

.modal-title {
	padding: 17px 21px 12px 24px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.137298px;
	color: #363636;
}

.modal-contents {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.130517px;
	color: #363636;
	margin: 0px 0px 20px 24px;
}

.billing-profile-modal {
	width: 407px !important;
    margin: 10px;
    background: #F5F7FB;
    outline: none;
    overflow: auto;
    max-height: 95vh;
	border-radius: 8px;
	padding: 15px;
}

.disccount-title {
	font-weight: bold;
  	color: #57B894;
}

.currency-label {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.137298px;
	color: #363636;
	margin-left: 20%;
}

.disccount-currency {
	margin-left: 46%;
}

.price {
	margin: -43px 0px 14px 74%;
	font-size: 21px;
}

.save-card-button {
	background: #2d86da;
	font-size: 1.6rem;
	border: 1px solid transparent;
	padding: 6px 40px;
	border-radius: 100px;
	letter-spacing: 0.43px;
	color: white;
}

.card-selector {
	background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
	padding: 25px 0px 25px 0px;
	margin: 0px 0px 0px 0px;
	&:hover {
		cursor: pointer;
		background: rgba(45, 134, 218, 0.08);
	}
}

.card-image {
	text-align: center;
    background: rgba(45, 134, 218, 0.12);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 7px;
    margin-left: 20px;
}

.common-font {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.137298px;
	color: #1F2024;
	margin-top: 8px;
}

.icon-spacing {
	margin-top: 8px;
}

.cvv-image {
	margin-top: -62px;
    margin-left: 72%;
}

.card-save-result {
	background: rgba(45, 134, 218, 0.08);;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
	padding: 25px 0px 25px 0px;
	margin: 0px 0px 0px 0px;
	&:hover {
		cursor: pointer;
	}
}

.edit-icon-spacing {
	padding: 5px 4px 2px 9px;
	&:hover {
		border-radius: 100px;
		width: 40px;
		height: 40px;
		background: rgba(45, 134, 218, 0.12);
		padding: 5px 4px 2px 9px;
	}
}
