.title{
    margin-top: 27px;
}


.smalltitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height, or 100% */

    letter-spacing: 0.130517px;

    /* Text/Primary/Black */

    color: #363636;
}

.socialtitle {
    font-family: 'Rubik';
    font-style: 'normal';
    font-weight: 'normal';
    font-size: 18px;

    text-align: 'center';
    letter-spacing: 0.130517;
    margin-top: 25;
}