.section-header__first-row.row.posts {
  justify-content: flex-start;
}

.scheduled {
  .page-content {
    display: flex;
    justify-content: space-between;

    .ant-tabs {
      flex: 1;
    }
  }

  .timezone-selector {
    .select-label {
      font-weight: bold;
      font-family: Lato;
      margin-right: 20px;
      font-size: 17px;
    }

    .select-margin-top {
      margin-top: 5px;
    }
  }

  .ant-tabs {
    overflow: visible;
  }

  .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #363636 !important;
    font-size: 16px;
    font-family: Rubik;
  }

  .ant-tabs-nav .ant-tabs-tab:hover {
    color: #363636 !important;
  }
}

.calendar-events {
  display: flex;
  justify-content: space-between;
  font-family: Rubik;

  .calendar-container {
    flex: 1;
    margin-right: 50px;
  }

  .selection-row {
    padding: 0;
  }

  .new-post {
    margin-bottom: 50px;

    .new-post-placeholder {
      font-size: 18px;
      font-weight: normal;
      color: #909090;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .label {
      margin-right: 15px;
      font-weight: 400;
      font-size: 14px;
      color: #363636;
    }
  }

  .infinite-best-btn-title {
    background-color: #2D86DA;
    border-radius: 5px 5px 0 0;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    margin: 25px 0 0 0;
    color: #FFF;
    font-size: 16px;
  }

  .infinite-best-btn {
    background-color: #ffffff;
    border-radius: 5px;
    border: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;

    .infinite-best-btn-icon {
      display: flex;
      justify-content: flex-end;
      color: #2D86DA;
      font-size: 20px;
      align-items: center;
      height: 50px;
      line-height: 50px;

      .infinite-best-btn-icon-laugh {
        margin-right: 20px;
        font-size: 30px !important;
        height: 50px;
        line-height: 50px;
        margin-bottom: 8px;
      }
    }
  }

  .infinite-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-family: Rubik;

    .weekday {
      margin-right: 5px;
      font-weight: 500;
    }
  }

  .infinite-time {
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid #DBDBDB;
    position: relative;

    .infinite-best-time {
      width: 100%;

      .infinite-best-time-title {
        display: flex;
        flex-direction: column;
        width: 95%;

        .infinite-best-media-preview {
          margin-top: 10px;
        }

        div {
          text-align: left;
          color: #1F2024;
          align-items: center;

          .content {
            line-height: 15px;
            word-break: break-word;
          }

          // .infinite-best-media-preview {
          //   display: flex;
          //   justify-content: flex-start;
          //   margin-top: 10px;

          //   .preview {
          //     width: 120px;
          //     height: 90px;
          //     margin-right: 10px;
          //     border: 1px solid #DBDBDB;
          //   }
          // }
        }

        i {
          position: absolute;
          top: 14px;
          right: 14px;
          color: #C3C8CC;
        }

        img,
        video {
          max-width: 200px;
          max-height: 200px;
          margin-right: 10px;
        }
      }

      .infinite-best-time-boundary {
        border-bottom: 1px solid #DAE1E8;
        margin: 20px 0;
      }

      .infinite-best-time-body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .infinite-best-time-body-footer {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .infinite-best-time-channels {
            display: flex;
            align-items: center;
            height: 40px;
            margin-right: 10px;

            div {
              position: relative;
              margin-right: 8px;

              img {
                width: 35px;
                height: 35px;
                border-radius: 100%;
              }

              i {
                width: 16px;
                height: 16px;
                font-size: 10px;
                border-radius: 100%;
                position: absolute;
                display: flex;
                right: -3px;
                bottom: 5px;
                justify-content: center;
                align-items: center;
              }
            }
          }

          .infinite-best-time-category {
            border-radius: 4px;
            color: #fff;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 30px;
            height: 26px;
            text-align: center;
            padding-right: 5px;
            padding-left: 5px;
            margin-right: 10px;
          }

          .infinite-best-time-post {
            color: #909090;
            text-align: left;
            height: 20px;
            line-height: 20px;
            font-size: 13px;
          }
        }

        .infinite-best-time-body-footer-btn {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }

    .available-time {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-hover {
      background-color: #eaf3fb;
      border: 1px solid #2D86DA;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;

      i.fab {
        width: 25px;
        height: 25px;
        font-size: 15px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      div {
        border: 0px;
        width: 150px;
      }
    }
  }

  // needed to display all the calendar's height
  .ant-tabs.ant-tabs-top.ant-tabs-line {
    height: 1950px;
  }


   // Events calendar
   .rbc-calendar {
    height: auto;
   }

  .rbc-day-bg.disabled,
  .rbc-time-slot.disabled {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .rbc-today {
    background-color: inherit;
  }

  .rbc-current-time-indicator {
    border-top: #ea4335 solid 3px;
  }

  .rbc-toolbar {
    display: none;
  }

  .rbc-time-view {
    border: none !important;

    .rbc-time-header-cell {
      min-height: none;

      .rbc-header {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .rbc-allday-cell {
      display: none;
    }

    .rbc-time-content {
      border-top: 1px solid #DDD;
      overflow: visible;

      .rbc-time-gutter {
        margin-top: -10px;
        background-color: #F5F7FB;

        .rbc-timeslot-group {
          border: none;
        }

        .rbc-time-slot {
          border: none;

          .rbc-label {
            display: block;
            padding: 0 20px 0 0;
            text-align: end;
            font-family: Rubik;
          }
        }
      }

      .rbc-timeslot-group {
        height: 75px;
      }

      .rbc-event {
        padding: 0 0 0 10px !important;
        border: none;

        &.rbc-selected {
          overflow: visible;
          z-index: 10;
          position: relative;

          &.day {
            left: 0 !important;
            width: 100% !important;

            .event-card-calendar  {
              display: flex;
              justify-content: space-between;
              width: 100%;
              height: 74px;
              padding: 5px;
            }

            .left-section,
            .right-section{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            .middle-section {
              display: flex;
              align-items: center;

              .description {
                max-width: 470px;
                margin-bottom: 0;
              }
            }

          }

          .event-card-calendar {
            width: 300px;
            height: auto;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            cursor: default;
            padding: 15px;

            &.expand-above {
              position: absolute;
              bottom: 0;
              border-bottom-left-radius: 0;
              border-top-left-radius: 7px;
            }

            .event-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 15px;
            }

            .topic {
              display: block;
              color: #FFF;
              padding: 5px;
              font-weight: 500;
              border-radius: 5px;
            }

            .icons-section {
              display: flex;
              width: 100px;
              justify-content: flex-end;
              color: #2D86DA;
              font-size: 18px;
              
              div:nth-child(2) {
                margin: 0 20px;
              }

              i {
                cursor: pointer;
              }

              .disabled {
                color: rgb(104, 127, 148);
                i {
                  cursor: default;
                }
              }
            }

            .title {
              font-size: 18px;
              min-width: 85px;
            }

            .description {
              padding: 20px;
              font-size: 12px;
              margin-bottom: 10px;
              overflow: visible;
              max-height: none;
              min-width: 85px;
            }

            .event-channels {
              display: flex;

              div {
                position: relative;
                margin-right: 10px;

                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 100%;
                }

                i {
                  width: 12px;
                  height: 12px;
                  font-size: 6px;
                  border-radius: 100%;
                  position: absolute;
                  right: -3px;
                  bottom: -2px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }

        .rbc-event-label {
          display: none;
        }

        .event-card-calendar {
          transition: 300ms ease-in-out;
          height: 100%;
          background-color: #FFF;
          color: #363636;
          padding: 5px;
          min-width: 85px;

          .topic,
          .icons-section,
          .event-channels,
          .event-header {
            display: none;
          }

          .title {
            font-size: 14px;;
            margin-top: 0;
            margin-bottom: 10px;
          }

          .description {
            font-size: 10px;
            max-height: 22px;
            overflow: hidden;
          }
        }
      }
    }
  }

  .rbc-time-header-content {
    border-left: 1px solid transparent;

    .rbc-header {
      border: none;

      span {
        font-size: 14px;
        white-space: normal;
        width: 24px;
        display: block;
      }
    }
  }
}

.post-scheduling {
  font-family: Rubik;

  .post-scheduling-container {
    width: 800px;
    min-height: 700px;

    .post-scheduling-title {
      width: 100%;
      font-weight: 700;
      font-family: Lato;
      margin-right: 20px;
      font-size: 18px;
      color: rgb(54, 54, 54);
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 0.5px solid #DBDBDB;
    }

    .post-scheduling-title {
      width: 100%;
      font-weight: 700;
      font-family: Lato;
      margin-right: 20px;
      font-size: 18px;
      color: rgb(54, 54, 54);
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 0.5px solid #DBDBDB;
    }

    .post-scheduling-queue-section {
      width: 100%;
      display: none; //flex;
      justify-content: flex-end;
      margin-right: 20px;
      padding-top: 20px;
      padding-bottom: 30px;
      border-bottom: 0.5px solid #DBDBDB;

      .post-scheduling-padding {
        text-align: right;
      }

      .btn-queue {
        margin-top: 5px;
        font-weight: bold;
      }
    }

    .post-scheduling-time-section {
      width: 100%;
      margin-right: 20px;
      padding-top: 20px;
      padding-bottom: 30px;
      border-bottom: 0.5px solid #DBDBDB;

      .time-label {
        font-weight: bold;
        font-family: Lato;
        font-size: 17px;
      }

      .post-scheduling-time-margin-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;

        .post-time-margin-right {
          margin-right: 10px;
        }
      }
    }

    .post-scheduling-display-section {
      width: 100%;

      .post-scheduling-display-header {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 30px;

        .post-scheduling-display-title {
          font-weight: 700;
          font-family: Lato;
          margin-right: 20px;
          font-size: 18px;
        }
      }

      .post-scheduling-display-body {
        text-align: center;

        .post-scheduling-display-title {
          font-weight: 700;
          font-family: Lato;
          font-size: 18px;
        }

        .post-scheduling-display-subtitle {
          font-family: Lato;
          font-size: 16px;
        }
      }

      table {
        border: 0.5px solid #DBDBDB;
        width: 100%;

        th {
          border: 0.5px solid #DBDBDB;
          padding: 5px;
          text-align: center;

          button {
            display: none;
          }
        }

        td {
          border: 0.5px solid #DBDBDB;
          padding: 5px;
          text-align: center;
          vertical-align: top;

          ul {
            margin-bottom: 0px;

            li {
              padding: 3px;

              input {
                font-size: 12px;
              }

              div {
                white-space: nowrap;
                width: 90px;
                overflow: hidden;
                text-overflow: ellipsis;
                border-radius: 5px;
                border: 0.5px solid #DBDBDB;
                margin-left: 4px;
                padding: 2px;
                font-size: 12px;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

.composer-modal {
  font-family: Rubik;
  width: auto;

  .composer-modal-content {
    width: 100%;
    min-height: 600px;
    height: auto;
    padding: 15px 30px;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .composer-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .composer-content {
        display: flex;
      }

      .inputs {
        width: 483px;
        margin-right: 35px;

        .public-DraftEditorPlaceholder-hasFocus {
          .public-DraftEditorPlaceholder-inner {
            display: none;
          }
        }
      }

      .preview-container {
        width: 511px;
        background: rgba(218, 225, 232, 0.71);
        padding: 10px;

        .ant-carousel {
          min-height: 365px;

          .slick-slider {
            min-height: 365px;

            .slick-list {
              min-height: 365px;
            }
            .slick-dots {
              li {
                margin: 0 9px;

                button {
                  width: 8px;
                  height: 8px;
                  background: #FFFFFF;
                  border-radius: 8px;
                }
      
              }
              li.slick-active button {
                background: #2D86DA;
              }
            }
            .slick-dots.slick-dots-bottom {
              bottom: -30px;
            }
          }
        
        }

        .arrows-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          cursor: pointer;
          margin-top: 20px;

          .arrow {
            font-size: 14px;
            color: #2D86DA;
            z-index: 1;
          }

          .arrow-right {
            i {
              margin-right: 8px;
            }
          }

          .arrow-left {
            span {
              margin-right: 8px;
            }
          }
        }

        .preview-card-container {
          background: white;
          border-radius: 4px;
          padding: 16px;
          width: 491px;

          .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .account-data {
              display: flex;
              align-items: center;

              img {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                margin-right: 15px;
              }

              .info {
                .name {
                  font-weight: 500;
                  font-size: 14px;
                  color: #363636;
                }

                .sub-title {
                  color: #909090;
                  font-size: 13px;
                }
              }
            }

            .social-media-label {
              padding: 5px;
              color: #FFF;
              height: fit-content;
              border-radius: 5px;

              &.facebook {
                background-color: #3B5998;
              }

              &.twitter {
                background-color: #1DA1F2;
              }

              &.linkedin {
                background-color: #2867B2;
              }
            }
          }

          .text {
            margin-left: 5px;
            color: #000000;
            font-size: 14px;
          }

          .images {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            img {
              max-width: 100%;
              max-height: 300px;
              object-fit: cover;
            }
          }

          .video {
            margin-top: 15px;

            video {
              max-height: 300px;
              width: 100%;
            }
          }
        }

        .preview-card-container.facebook {
          .images.amount-1 {
            img {
              width: 100%;
            }
          }

          .images.amount-2 {
            img {
              width: 49.6%;
            }

            img:nth-child(1) {
              margin-right: 2px;
            }
          }

          .images.amount-3 {
            img:nth-child(1) {
              width: 100%;
              margin-bottom: 2px;
            }

            img:nth-child(2) {
              margin-right: 2px;
            }

            img:nth-child(2),
            img:nth-child(3) {
              width: 49.6%;
            }
          }

          .images.amount-4 {
            img:nth-child(1) {
              width: 100%;
              margin-bottom: 2px;
            }

            img:nth-child(2),
            img:nth-child(3) {
              margin-right: 2px;
            }

            img:nth-child(2),
            img:nth-child(3),
            img:nth-child(4) {
              width: 33%;
            }
          }
        }

        .preview-card-container.twitter {
          img {
            height: 300px;
          }

          .images.amount-1 {
            img {
              width: 100%;
              border-radius: 10px;
            }
          }

          .images.amount-2 {
            img {
              width: 49.6%;
            }

            img:nth-child(1) {
              margin-right: 2px;
              border-radius: 10px 0 0 10px;
            }

            img:nth-child(2) {
              border-radius: 0 10px 10px 0;
            }
          }

          .images.amount-3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 2px;

            img {
              width: 100%;
            }

            img:nth-child(1) {
              grid-row: span 2;
              border-radius: 10px 0 0 10px;
              height: 300px;
            }

            img:nth-child(2) {
              border-radius: 0 10px 0 0;
              height: 149px;
            }

            img:nth-child(3) {
              border-radius: 0 0 10px 0;
              height: 149px;
            }
          }

          .images.amount-4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 2px;

            img {
              width: 100%;
              height: 150px;
            }

            img:nth-child(1) {
              border-radius: 10px 0 0;
            }

            img:nth-child(2) {
              border-radius: 0 10px 0 0;
            }

            img:nth-child(3) {
              border-radius: 0 0 0 10px;
            }

            img:nth-child(4) {
              border-radius: 0 0 10px 0;
            }
          }

          .video {
            border-radius: 10px;

            video {
              border-radius: 10px;
            }
          }
        }

      }
    }

    .composer-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
      
      .composer-title {
        font-size: 18px;
        font-weight: 500;
        color: #000;
      }
    }

    .subtitle {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .schedule-section {
      margin-bottom: 15px;
    }

    .category-section {
      margin-bottom: 15px;
    }

    .selected-category-container {
      background-color: #FFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 11px;
      height: 40px;

      i {
        font-size: 16px;
        color: #2D86DA;
      }
    }

    .repeat-section {
      margin-bottom: 15px;

      .repeat-input {
        margin-right: 20px;
        width: 70px;
      }

      div {
        display: flex;
        align-items: center;

        .repeat-select {
          margin-right: 20px;
          width: 100px;

          div {
            width: 100px;
          }
        }

        div {
          font-size: 14px;
          margin-right: 20px;
        }
      }
    }

    .separator {
      border-top: 1px solid #DBDBDB;
      margin: 10px 0;
    }

    .channels-section {
      display: flex;
      margin-bottom: 15px;

      .channel {
        position: relative;
        margin-right: 10px;

        img {
          width: 45px;
          height: 45px;
          border-radius: 100%;
        }

        i.fab {
          width: 18px;
          height: 18px;
          font-size: 10px;
          border-radius: 100%;
          position: absolute;
          right: -3px;
          bottom: -2px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .overlay {
          display: none;
          position: absolute;
          background-color: rgba(255, 66, 48, 0.5);
          width: 100%;
          height: 100%;
          border-radius: 50px;
          cursor: pointer;
          top: 0;
          left: 0;
        }
      }

      .circle {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #2D86DA;
        background-color: #FFF;
        color: #2D86DA;
        border-radius: 25px;
        margin-right: 10px;
        cursor: pointer;
        top: 0;
        left: 0;
      }

      .channel:hover {
        .overlay {
          display: flex;

          div {
            margin: auto;
            font-size: 20px;
            color: white;
          }
        }
      }
    }

    .draft_editor_container {
      background-color: #FFF;
      margin-bottom: 15px;
      border: 1px solid #d9d9d9;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &:hover,
      &:focus-within {
        border: 1px solid #40a9ff;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      .editor-icons {
        color: #2D86DA;

        .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
          color: #2D86DA !important;
        }
      }
    }

    .ant-select-arrow {
      svg {
        fill: #2D86DA;
      }
    }

    .schedule-container {
      display: flex;

      .checkboxes-group {
        display: flex;
        flex-direction: column;

        .ant-checkbox-wrapper + .ant-checkbox-wrapper {
          margin: 0;
        }
      }
    }

    .ant-calendar-picker {
      width: 175px;
      margin-right: 10px;

      i {
        display: none;
      }
    }

    .ant-time-picker {
      width: 95px;
      margin-right: 30px;

      i {
        display: none;
      }
    }

    .ant-checkbox-inner {
      border: 2px solid #2D86DA;
    }

    .ant-checkbox-wrapper {
      font-weight: normal;
    }

    .footer-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      .ant-btn-primary {
        background-color: #2D86DA;
      }

      .ant-btn-link {
        color: #2D86DA;
        margin-right: 30px;
      }

      .btn-advanced {
        position: absolute;
        bottom: 5px;
        left: 0;
      }

      .btn-advanced-hidden {
        display: none;
      }
    }
  }

  .post-button-container {
    background-color: #2d86da;
    border-radius: 20px;
    display: flex;

    button {
      border-radius: 20px 0 0 20px;
      border: none;
      border-right: 1px solid white;
    }

    button:disabled,
    button[disabled] {
      background-color: #BFBFBF !important;
      color: #FFF;
    }

    .selector {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;

      i {
        color: white;
      }
    }

  }
}

.agenda-container {
  display: flex;
  margin-right: -30px;
  height: inherit;
  margin-top: 80px;
}

.todays-agenda {
  background-color: #F5F7FB;
  border: 1px solid #DBDBDB;
  border-radius: 30px 0 0 0;
  padding: 24px 10px 0;
  width: 286px;

  .ta-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #363636;

    .ta-label {
      margin-right: 5px;
      font-weight: 500;
    }
  }

  .time-title {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-left: 10px;

    .time {
      font-size: 14px;
      font-weight: 400;
      margin-right: 10px;
      color: #363636;
    }

    .separator {
      border-bottom: 1px solid #DAE1E8;
      width: 180px;
    }
  }

  .event-in-agenda {
    border-radius: 5px;
    margin-bottom: 15px;

    .event-content {
      padding: 15px;
      background-color: #FFF;

      .content {
        font-size: 12px;
        margin-bottom: 10px;
        max-width: 220px;
        color: #363636;
      }

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .category-post {
          width: 74px;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
          height: 24px;
          font-size: 12px;
        }
      }
    }

    .event-channels {
      display: flex;

        .channel {
          position: relative;
          margin-right: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
          }

          i {
            width: 12px;
            height: 12px;
            font-size: 6px;
            border-radius: 100%;
            position: absolute;
            right: -3px;
            bottom: -2px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .rest-of-channels {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          border: 0.740741px solid #2D86DA;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #2D86DA;
        }
    }
  }
}

.post-queue-bar {
  width: 58px;
  height: 100%;
  background: #FFF;
  border-radius: 20px 0 0 0;
  padding-top: 15px;

  .option {
    height: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .option.active {
    color: #2D86DA;
    border-left: 2px solid #2D86DA;
    background-color: #F5F7FB;
  }
}

.awaiting-approval-container {

  .table-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
    font-family: Rubik;
    color: #000000;

    div:nth-child(1) {
      width: 45%;
    }

    div:nth-child(2) {
      width: 15%;
    }

    div:nth-child(3) {
      width: 20%;
    }

    div:nth-child(4) {
      width: 7%;
      margin-right: 60px;
      text-align: center;
    }
  }

  .post-awaiting {
    background-color: #FFF;
    border-left: 12px solid;
    border-radius: 7px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: Lato;
    padding-right: 20px;

    .content {
      width: 45%;
      display: flex;

      img {
        height: 100px;
      }

      span {
        margin-left: 30px;
        color: #363636;
      }
    }

    .category {
      width: 15%;
      display: flex;
      justify-content: center;

      .label {
        padding: 5px;
        border-radius: 4px;
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        cursor: default;
      }
    }

    .publish-date {
      width: 5%;
      text-align: center;
      margin-right: 50px;
    }

    .channels {
      width: 20%;
      display: flex;
      justify-content: center;

      .channel-avatar {
        position: relative;
        width: 45px;
        margin-right: 10px;
      }

      img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 100%;
        border: 1px solid #ccc;
      }
    }

    .actions-container {
      position: absolute;
      right: 20px;
      width: 20px;
    }
  }
}

.ant-popover-inner-content {
  padding: 0 !important;
}

.awaiting-post-popover-content {
  width: 150px;
  padding: 0;

  div {
    font-family: Rubik;
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
  }

  div:hover {
    background-color: #2d86da;
    color: #FFF;
  }
}

.tour-modal {
  width: 505px;
  height: 560px;
  font-family: 'Rubik';

  .tour-container {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .close-icon {
    position: absolute;
    top: 17px;
    right: 25px;
    cursor: pointer;
    color: #C4C8CC !important;
  }

  .picture {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAE1E8;

    img {
      width: 368px;
      height: 263px;
    }
  }

  .content {
    color: #000000;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;

    .tour-title {
      font-size: 20px;
      margin-bottom: 24px;
      margin-top: 30px;
      font-weight: 500;
    }

    .list {
      font-size: 16px;
      margin-left: 15px;
      margin-bottom: 20px;

      ul {
        list-style: none;
      }

      ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #D83E7F;  /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }

    button {
      margin-bottom: 20px;
    }
  }
}

#tour-wizard-step {
  .tour-card.schedule-posts {
    width: 490px;
    height: 180px;
  }

  .tour-card.schedule-posts.step-1 {
    width: 490px;
    height: 170px;
  }

  .tour-card.schedule-posts.step-6 {
    height: 267px;
  }

  .schedule-wizard-types {
    div {
      margin-bottom: 10px;
    }
  }
}
