$dark_grey:#333;
$primary_blue: #2D86DA;
$white: #fff;
$body_bg: #F5F7FB;
$light_gray: #f5f7fb;
$white_gray: #DBDBDB;
$primary_black: #363636;
$primary_pink: #D83E7F;
$secondary_gray: #909090;
$gray: #F5F7FB;

//Spacing
$base_size: 16px;
$s_size: 1.2rem;
$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$desktop_breakpoint: 45rem;