$dark_grey: #333;
$primary_blue: #2d86da;
$white: #fff;
$body_bg: #f5f7fb;
$light_gray: #f5f7fb;
$white_gray: #dbdbdb;
$primary_black: #363636;
$primary_pink: #d83e7f;
$secondary_gray: #909090;
$gray: #f5f7fb;

//Spacing
$base_size: 16px;
$s_size: 1.2rem;
$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$desktop_breakpoint: 45rem;
