.tab-cnt {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: column;

    .tab-head {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $white_gray;
        flex-wrap: wrap;

        .tab-nav-item {

            button {
                font-family: Rubik;
                font-size: 16px;
                line-height: 13px;
                text-align: center;
                padding: 10px 20px;
                display: block;
                color: $primary_black;
                border: 0;
                outline: none;
                border-bottom: 3px solid transparent;
                transition: linear 0.05s;
                background: transparent;
            }

            &.active button {
                border-bottom: 3px solid $primary_pink;
                font-weight: 500;
            }
        }
    }

    .tab-body {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $white_gray;
        flex-wrap: wrap;

        .cnt-item {
            display: none;
            width: 100%;
            opacity: 0;
            transition: linear 0.2s;

            &.active {
                opacity: 1;
                display: inline-block;
            }
        }
    }
}