#tour-wizard-step,
#tour-wizard-node {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

#tour-wizard-node.open {
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}

#tour-wizard-step {
  z-index: 9999;
}

.tour-card-holder {
  width: 100%;
  height: 100%;
}

.tour-wizard-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.spot-light {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 6px;
}

.tour-card {
  background: #F5F7FB;
  display: flex;
  flex-direction: column;
  color: #333333;
  font-family: Rubik;
  border-radius: 6px;
  position: absolute;
  justify-content: space-between;
  padding: 20px 20px 8px;

  .info-section {
    display: flex;

    img {
      width: 100px;
      height: 100px;
      margin-right: 30px;
    }

    .tour-text {
      display: flex;
      flex-direction: column;
      
      .tour-card-title {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
      }

      .tour-card-message {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .buttons-section {
    display: flex;
    justify-content: space-between;
    color: #2D86DA;

    .next-btn {
      span {
        margin-right: 5px;
      }

      i {
        font-size: 12px
      }
    }
  }
}

.tour-wizard-finish-modal {
  width: 500px;
  height: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Rubik;
  color: #363636;
  background: #F5F7FB;
  border-radius: 6px;
  padding: 30px 70px;

  img {
    width: 250px;
    margin-bottom: 30px;
  }

  .modal-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .modal-message {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
  }

  button {
    background-color: #2D86DA;
  }
}
